<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('banner.png') %>');">
  <div class="container">
    <h1>Mango, l’ingrédient manquant pour sublimer ton quotidien !</h1>
  </div>
</div>

<div class="container">
  <%= render 'shared/search_form' %>
  <h2 class="mt-5">Catégories disponibles</h2>
  <div class="cards mt-3">
    <% Category.all.each do |category| %>
      <div class="card" style="background-image: url('<%= asset_path('category_placeholder.png') %>')">
        <div class="card-body">
          <a href="/users?category=<%= category.name %>" class="card-title btn btn-primary"><%= category.name %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
